<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.testthb.customplayer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.testthb.common_base.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.TestActivity"/>
        <activity android:name=".activity.ffmpeg.FFmpegMuxerActivity" />
        <activity
            android:name=".activity.ffmpeg.FFmpegGLESMuxerActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ffmpeg.RtmpGLESActivity" />
        <activity android:name=".activity.ffmpeg.ShortVideoActivity" />
        <activity
            android:name=".activity.hw.PlayerMediaActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activity.ffmpeg.PlayerDecodeFFmpegActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activity.ffmpeg.AvEditorActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activity.ffmpeg.WebrtcActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activity.hw.PlayerDecodeHwActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activity.hw.PlayerDecodeHwOpenGLESActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activity.CustomPlayerListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>