<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.customplayer">

    <application
        android:name="com.example.common_base.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ffmpeg.FFmpegMuxerActivity"></activity>
        <activity android:name=".activity.ffmpeg.FFmpegGLESMuxerActivity"></activity>
        <activity
            android:name=".activity.hw.PlayerMediaActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/AppThemeNoActionBar"></activity>
        <activity
            android:name=".activity.ffmpeg.PlayerDecodeFFmpegActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/AppThemeNoActionBar"></activity>
        <activity
            android:name=".activity.hw.PlayerDecodeHwActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/AppThemeNoActionBar"></activity>
        <activity
            android:name=".activity.hw.PlayerDecodeHwOpenGLESActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/AppThemeNoActionBar"></activity>
        <activity android:name=".activity.CustomPlayerListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>